/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */

/* HSL */
$c-gainsboro: hsla(240%, 1%, 86%, 1);
$c-lavander-grey: #F5F5F5;
$c-outer-space: hsla(210%, 4%, 29%, 1);
$c-deep-space-sparkle: hsla(206%, 16%, 35%, 1);
$c-cg-blue: hsla(192%, 73%, 36%, 1);

/* RGB */
$c-white: #FFFFFF;
$c-gainsboro: rgba(220, 220, 221, 1);
$c-lavander-grey: #F5F5F5;
$c-outer-space: rgba(70, 73, 76, 1);
$c-deep-space-sparkle: rgba(76, 92, 104, 1);
$c-cg-blue: rgba(25, 133, 161, 1);