
@import "palette";
@import url('//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css');

html, body, #app {
  margin: 0;
  padding: 0;
}
#app {
  min-height: 100vh;
}

.ffzgea {

  min-height: 100vh;

  &__header {
	background-color: $c-outer-space;
  }

  &__aside {
	background-color: $c-lavander-grey;
  }


  &Header {

	display: flex;
	align-items: center;

	.el-row {
	  display: flex;
	  flex: 1;
	  justify-content: space-between;
	  align-items: center;
	}

	&__title {

	  flex-grow: 1;

	  h1 {
		color: $c-white;
	  }
	}

	&__user {
	  display: flex;
	  justify-content: flex-end;
	}

  }

  &Main {

	&__tabs {
	  display: flex;
	  flex-direction: row-reverse;
	}

	&__query {
	  background-color: $c-lavander-grey;
	  padding: 1rem;
	  font-family: serif;
	}

  }

  &Aside {

	&__about {
	  padding: 1rem;
		p {
		  font-size: .8rem;
		}
	}

  }

  &Results {

	&__image,
	&__image img {
	  width: 100%;
	  height: auto;
	}

	&__headerToggle {
	  text-align: right;
	}

	&__raw {
	  max-height: 30vh;
	  overflow: scroll;
	  font-size: .8rem;
	}

	&__title {
	  display: block;
	}

	&__footer {
	  padding-top: 1rem;
	  margin-bottom: 2rem;
	  text-align: center;
	}

	&__imageWrap {
	  max-height: 300px;
	  min-height: 300px;
	  overflow: hidden;
	  display: flex;

	  img {
		object-fit: cover;
	  }
	}

	&__gallery {
	  padding-top: 1rem;
	}
	&__galleryCol {
	  margin-bottom: 1rem;
	}

  }

  &Search {

	margin-bottom: 2rem;
	border-bottom: .1rem solid $c-lavander-grey;

	&__button {
	  padding-top: 1rem;
	  text-align: right;
	}

	.el-form-item:not(:last-of-type) {
	  margin-bottom: 0;
	}
  }

  &Info {
	width: 100%;
	max-width: 768px;
	padding-top: 1.5rem;

	h3 {
	  font-size: 1.2rem;
	  margin: 0;
	  padding: 0;
	}

	p {
	  margin-left: 2rem;

	  code {
		color: $c-outer-space;
		font-weight: bold;
	  }
	}

	pre {
	  padding-left: 1rem;
	  border-left: 2px solid $c-gainsboro;
	}

  }

}

.el-color-dropdown__main-wrapper,
.el-color-dropdown__value {
  display: none;
}

.el-table td {
  vertical-align: top;
}

.hljs {
  background-color: transparent;
}
