
@import "palette";

html, body, #app {
  margin: 0;
  padding: 0;
}

.ffzgea {

  &__header {
	background-color: $c-outer-space;
  }

  &__aside {
	background-color: $c-lavander-grey;
  }


  &Header {

	display: flex;
	align-items: center;

	.el-row {
	  display: flex;
	  flex: 1;
	  justify-content: space-between;
	  align-items: center;
	}

	&__title {

	  flex-grow: 1;

	  h1 {
		color: $c-white;
	  }
	}

	&__user {
	  display: flex;
	  justify-content: flex-end;
	}

  }

  &Main {

	&__tabs {
	  display: flex;
	  flex-direction: row-reverse;
	}

	&__query {
	  background-color: $c-lavander-grey;
	  padding: 1rem;
	  font-family: serif;
	}

  }

  &Aside {

	&__about {
	  padding: 1rem;
		p {
		  font-size: .8rem;
		}
	}

  }

  &Results {

	&__image,
	&__image img {
	  width: 100%;
	  height: auto;
	}

  }

  &Search {
	.el-form-item:not(:last-of-type) {
	  margin-bottom: 0;
	}
  }

}

.el-color-dropdown__main-wrapper,
.el-color-dropdown__value {
  display: none;
}